<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sarah Santa Cruz - Full Stack Engineer</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <%- include('./partials/sections/nav'); %>
  <section id="hero">
    <%- include('./partials/sections/hero'); %>
  </section>
  <section id="about">
    <%- include('./partials/sections/blurb'); %>
  </section>
  <section id="work-experience">
    <%- include('./partials/sections/experience', {experienceData: experienceData}); %>
    <div id="skills"></div>
  </section>
  <section id="skills-banner">
    <%- include('./partials/sections/skills'); %>
  </section>
  <section id="projects">
    <%- include('./partials/sections/projects', {projectData: projectData}); %>
  </section>
  <section id="contact">
    <%- include('./partials/sections/contact'); %>
  </section>
  <section id="footer">
    <%- include('./partials/sections/footer'); %>
  </section>
  <script src="js/nav.js"></script>
  <script src="js/app.js"></script>
  <script src="js/analytics.js"></script>
</body>
</html>